@use "../../styles/partials/variables" as *;

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Logo

@mixin logo($font-size: 4.5rem) {
  color: $primary-color;
  background-color: $background-color;
  margin: 1rem;
  font-size: $font-size;
  text-decoration: none;
}

// forms

@mixin form-input {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 4rem;
  background-color: $background-color;
  border: 1px solid $primary-color;
  color: $primary-color;
  outline: none;
}

@mixin form-btn {
  @include flex(center, center, null);
  font-size: 1.6rem;
  text-decoration: none;

  margin: 1rem;
  padding: 1rem;

  border-radius: 4rem;
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: $background-color;

  &:hover {
    color: $background-color;
    background-color: $primary-color-alt;
    transform: scale(1.1);
    transition: all 1s;
    border: none;
  }
}
