@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &-fragment {
    margin-top: 3rem;
  }

  &-wrapper {
    @include flex(center, center, column);
    margin: $mobile-margin;

    @include tablet {
      margin: $tablet-margin;
      margin-top: 1.5rem;
    }

    @include desktop {
      margin: $desktop-margin;
      max-width: 102rem;
      margin-top: 1.5rem;
    }
  }

  &__info {
    width: 95%;
    border-radius: 20px;
    border: 0.5px solid $primary-color;
    @include flex(left, center, row);
  }

  &__name {
    width: 50%;
    padding: 2rem 0 2rem 2rem;
  }

  &__follow-info {
    width: 50%;
    padding: 2rem 2rem 2rem 0;
    &--view {
      width: 25%;
    }
  }

  &__followers,
  &__following {
    &-link {
      text-decoration: none;
    }
    padding: 0.2rem;
    color: $primary-color;
  }

  &__post {
    &-link {
      width: 100%;
      text-decoration: none;
      color: inherit;
    }
  }
}
