@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &-fragment {
    margin-top: 3rem;
  }

  &-wrapper {
    @include flex(center, center, column);
    margin: $mobile-margin;

    @include tablet {
      margin: $tablet-margin;
      margin-top: 1.5rem;
    }

    @include desktop {
      margin: $desktop-margin;
      max-width: 102rem;
      margin-top: 1.5rem;
    }
  }

  &__post {
    &-link {
      width: 100%;
      text-decoration: none;
      color: inherit;
    }
  }
}
