@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.account-card {
  &-wrapper {
    margin: 0.5rem 2rem;
    border-radius: 2rem;
    border: 1px solid $primary-color;
    cursor: pointer;
    background-color: $primary-color;
    // background-color: #ffffff;
    opacity: 80%;
    box-shadow: 0px 5px 5px #ffffff;

    // backdrop-filter: blur(5px);
    // background-color: rgba(255, 255, 255, 0);
    // border-radius: 26px;
    // box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5),
    //   inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6),
    //   inset 0px 11px 28px 0px rgb(255, 255, 255);
    color: $background-color;
    width: 80%;
    @include flex(space-between, center, row);

    &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }

  &__profile-link {
    text-decoration: none;
    width: 100%;
    padding: 1.6rem;
    padding-right: 0;
    color: black;
  }

  &__name {
    font-size: 2rem;
  }

  &__follow-btn {
    @include form-btn;
    z-index: 10;
  }

  &__unfollow-btn {
    @include form-btn;
    z-index: 10;
  }

  &__is-user {
    text-transform: uppercase;
    margin-right: 4rem;
  }
}
