@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.single-post {
  @include flex(center, center, column);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &__card {
    @include flex(center, center, column);
    width: 100%;

    background-color: $primary-color;
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
  }

  &__close {
    color: $background-color;
    cursor: pointer;
  }
}

.comments {
  width: 90%;
  background-color: $background-color;
  border-radius: 1rem;

  &__title {
    margin: 1rem 3rem;
    @include flex(left, center, row);
  }
}
