@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-wrapper {
  height: 100vh;
  @include flex(center, center, column);
  margin: 0 auto;
}

.login__heading {
  font-size: 6.2rem;
  margin: 2rem;
}

.login-form {
  @include flex(center, flex-start, column);

  &__sbmt {
    @include form-btn;
    width: 17rem;
  }
}
