@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-wrapper {
  @include flex(space-between, center, column);
  margin: $mobile-margin;
  margin-top: 1.5rem;

  @include tablet {
    @include flex(space-between, center, row);
    margin: $tablet-margin;
    margin-top: 1.5rem;
  }

  @include desktop {
    @include flex(space-between, center, row);
    margin: $desktop-margin;
    max-width: 102rem;
    margin-top: 1.5rem;
  }
}

.nav {
  &__logo {
    @include logo(3rem);
  }

  &__list {
    list-style: none;
    @include flex(center, center, row);
  }

  &__item {
    margin: 1rem;
    font-size: 1.6rem;
    &-link {
      text-decoration: none;
      color: $primary-color;
    }
  }
}
