@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.post {
  &-wrapper {
    border-radius: 2rem;
    border: 1px solid $primary-color;
    padding: 1rem;
    cursor: pointer;
    background-color: $background-color;
    color: $primary-color-alt;
    width: 90%;
    @include flex(space-between, center, column);
    margin: 1rem;

    &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }

  &__user-name {
    padding: 0 auto 0 2rem;
    margin: 0.5rem 1rem 1rem 1rem;
    width: 100%;
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;

    @include tablet {
      padding: 0 2rem 0 auto;
    }
  }

  &__content {
    @include flex(space-between, center, column);
    width: 100%;

    @include tablet {
      @include flex(space-between, flex-start, row);
    }
  }

  &__text-wrapper {
    @include flex(space-between, flex-start, column);
    height: 100%;
    width: 100%;

    @include tablet {
      margin-left: 1rem;
    }
  }

  &__album-cover {
    border-radius: 1rem;
    // height: 12rem;
    width: 100%;

    @include tablet {
      width: 20rem;
    }
  }

  &__songname {
    margin: 1rem;
  }

  &__artist {
    width: 50%;
    margin: 1rem 0 1rem;
  }

  &__album {
    margin: 1rem 0 1rem;
    width: 50%;
  }

  &__song-duration {
    margin: 1rem auto 1rem 1rem;
  }

  &__song-details {
    @include flex(left, center, row);
    margin: 1rem;
    width: 100%;
  }
}
